<div class="container">
  <div class="row">
    @for (act of activities; track $index) {
      <div class="col-4 d-flex py-3">
        <div class="card text-center project-card w-100" (click)="openModal(act)">
          <img [src]="act.photo" class="card-img-top fixed-img" alt="Activity Image">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ act.name }}</h5>
          </div>
        </div>
      </div>
    }
  </div>
  <br><br>
</div>

<div class="modal fade" id="activityModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedActivity?.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <img [src]="selectedActivity?.photo" class="img-fluid mb-3">
        <p>{{ selectedActivity?.description || 'No description available.' }}</p>
      </div>
    </div>
  </div>
</div>
