<section class="container py-5 " id="about">
  <div class="row align-items-center">
    <div class="col-md-7">
      <h2 class="mb-4">About Me</h2>
      <p>
        Hello! I'm <b>Esraa Sayed</b>, a passionate data scientist and developer who loves turning data into meaningful insights and building impactful solutions.
        I enjoy working with modern technologies and constantly improving my skills through real-world projects and learning.
      </p>
      <p>
        I’m dedicated, fast-learning, and always ready to explore new challenges while collaborating with great teams. Let’s build something amazing!
      </p>
      <a href="Esraa Abdel Mohsin CV Software Engineer.pdf" download class="btn btn-success">Download My CV</a>
    </div>

    <div class="col-md-5 text-center">
      <img [src]='myPic' class="about-img shadow" alt="Esraa Sayed">
    </div>
  </div>
</section>

<hr />
<section class="container text-center py-5" id="education">
  <h2 class="mb-5">My Education</h2>
  <div class="row justify-content-center">

    <!-- College -->
    <div class="col-md-3 border">
      <div class="circle-card shadow">
        <div class="img-circle">
          <img src="college.png" alt="College">
        </div>
        <h4>College</h4>
        <p>Bachelor of Computing & Data Science</p>
      </div>
    </div>

    <!-- ITI -->
    <div class="col-md-3 border">
      <div class="circle-card shadow">
        <div class="img-circle">
          <img src="iti.jpg" alt="ITI">
        </div>
        <h4>ITI</h4>
        <p>Full Stack Web Development using .NET</p>
      </div>
    </div>

  </div>
</section>
<br><br>
