
  <section class="container py-5">
    <h2 class="text-center mb-4">Contact Me</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Your Name" required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Your Email" required>
          </div>
          <div class="mb-3">
            <textarea class="form-control" rows="5" placeholder="Your Message" required></textarea>
          </div>
          <button class="btn btn-success w-100">Send Message</button>
        </form>
      </div>
    </div>

    <div class="text-center mt-5">
  <h4>Contact Information</h4>
  <div class="d-flex justify-content-center gap-4 mt-3">

    <a href="mailto:esraasayed3423@gmail.com" class="text-decoration-none text-dark">
      <img src="email.png" width="40">
    </a>

    <a href="https://github.com/Esraa0609" target="_blank" class="text-decoration-none text-dark">
      <img src="github.png" width="40">
    </a>

    <a href="https://www.linkedin.com/in/esraa-sayed69/" target="_blank" class="text-decoration-none text-dark">
      <img src="linkedin.png" width="40">
    </a>
  </div>
</div>

  </section>
